*{
    box-sizing: border-box;
}

body{
    background: url("/images/cheff.jpeg") repeat fixed center;
    background-size: cover;
    color:white;
}

h1{
    font-size:3rem;
    text-align: center;
    border:3px groove rgb(81, 39, 3);
    outline:2px groove rgb(222, 110, 4);
    outline-offset: 3px;
    border-radius:15px;
    padding: 10px;
    font-family: 'Bungee Spice', sans-serif;
}

a{
    text-decoration: none;
    color:white;
    
}
 
img{
    width: 100%;
    margin:auto;
}

